body{
	overflow-x: hidden;
}
.navbar ul li a{
	font-weight: 500;
}
.navbar ul li:hover{
	background-color: #eee;
}
.bg-grey{
	background-color: #eee;
}
 
  .column-gap{
  	 column-gap: 20px;
  }
  .border-top-b{
  	border-top: 6px solid #3c82fa;
  }
  .border-n{
  	 border-top-left-radius: 7.5px;
    border-top-right-radius: 7.5px;
  }
  .bg-warning-p{
  	 border-top: 6px solid yellow;
  }
  .bg-success-p{
  	 border-top: 6px solid  green;
  }
  .bg-info-p{
  	 border-top: 6px solid #89c5cc;
  }
  .bg-sec-p{
  	 border-top: 6px solid #3c82fa;
  }
  .bg-pink-p{
  	 border-top: 6px solid #f6a8c1;
  }
  .bg-orange-p{
  	 border-top: 6px solid  #0bc75b;
  }
  .w-bg-img{
 	width: 100%;
 	height: 400px;
    background-image: url('img/toyota.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img2{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c378920349822d0cd497c57_Samsung.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img3{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37890f4a7918a52d0c6fe8_Nudel.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img4{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c3788b3996f274105d5bc9b_Roy.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img5{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37890f4a7918a52d0c6fe8_Nudel.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .w-bg-img6{
 	width: 100%;
 	height: 400px;
    background-image: url('img/5c37882a78c763fe7843e29d_Supermatic.jpg');
    background-attachment: fixed;
    background-size:100%;
    border-radius: 8px;
    background-position:70% 30%;
    background-repeat: no-repeat;
 
 }
 .bg-tometo{
	background-color:red;
	height: 120px;
	border-radius: 50%;
	width: 120px;
}
.bg-yellow{
	background-color:yellow;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	margin:10%; 
}
.bg-blue{
	background-color:blue;
	height: 220px;
	border-radius: 50%;
	width: 220px;
	margin:%; 
}
.bg-top-col{
	width: 50%;
	float: left;
	display: inline-block;
	text-align: center;
}
.bg-top{
	width: 100%;
	float: left;
	text-align: center;
	margin-left:30%;
}
.bg-middle{
	width: 100%;
	float: left;
	text-align: center;
	display: flex;
}
.bg-dodger{
	background-color:dodgerblue;
	height: 130px;
	border-radius: 50%;
	width: 130px;
	margin:%; 
}
.bg-black{
	background-color:black;
	height: 130px;
	border-radius: 50%;
	width: 130px;
	margin:%; 
}
.bg-bottom{
	width: 100%;
	float: left;
	text-align: center;
	display: flex;
	margin-left: 20%;
}
.bg-txt{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: white;
}
.bg-green{
	background-color:green;
	height: 100px;
	border-radius: 50%;
	width: 100px;
	margin:10%; 
}
.transparent{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
 